
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../icons/roboto/Roboto-Regular.woff2') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../icons/roboto/Roboto-Italic.woff2') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../icons/roboto/Roboto-Bold.woff2') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../icons/roboto/Roboto-BoldItalic.woff2') format('ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../icons/roboto-slab/RobotoSlab-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../icons/roboto-slab/RobotoSlab-Bold.ttf') format('ttf');
}

:root {
    --dnd5e-shadow-45: rgba(0, 0, 0, 0.45);
    --dnd5e-color-gold: #9f9275;
    --dnd5e-border-gold: 1px solid var(--dnd5e-color-gold);
    --dnd5e-color-light-gray: #3d3d3d;
    --dnd5e-font-roboto: Roboto, sans-serif;
    --dnd5e-font-roboto-slab: "Roboto Slab", serif;
}

#bg3-hotbar-container .hotbar-cell[data-item-type="spell"][data-preparation-mode="focus"][data-highlight="highlight"] {
    border-color: var(--bg3-pact);
}

#bg3-hotbar-container .action-glyph {
  font-style: normal;
}

#bg3-hotbar-container .action-glyph.font-large {
  font-size: large;
}

#bg3-hotbar-container .bg3-filter-subcontainer > div.filter-has-adv {
  position: relative;
  justify-content: left;
}

/** TOOLTIP **/

:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip {
  font-family: var(--dnd5e-font-roboto);
  font-size: var(--font-size-13);
  text-align: start;
  color: var(--color-text-dark-primary);
  border-radius: 5px;
  padding: 6px 8px;
  background: url("../icons/texture-gray1.webp") no-repeat top left, url("../icons/texture-gray2.webp") no-repeat bottom right, #f1ebe8;
  box-shadow: 0 0 16px var(--dnd5e-shadow-45);
  border: var(--dnd5e-border-gold);
  border-width: 2px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip .content {
  padding: 0 0.5rem 0.25rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip h1,
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip h2,
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip h3,
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip h4 {
  line-height: normal;
  text-shadow: none;
  color: var(--color-text-dark-primary);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip .header h2 {
  margin: 0;
  border: none;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 1.5em;
  font-weight: bold;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.dnd5e-tooltip h3 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  border: none;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.locked-tooltip {
  z-index: calc(var(--z-index-tooltip) - 1);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.locked-tooltip.dnd5e-tooltip::after {
  content: "";
  position: absolute;
  inset: 1px;
  border: var(--dnd5e-border-gold);
  border-radius: 4px;
  pointer-events: none;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.locked-tooltip .lock-hint {
  display: none;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) {
  width: 300px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .loading {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-size: var(--font-size-24);
  opacity: 0.25;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.75rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .top .subtitle {
  font-size: var(--font-size-11);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header img {
  width: 64px;
  height: 64px;
  border: 4px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 4px var(--dnd5e-shadow-45);
  border-radius: 100%;
  object-fit: cover;
  background: var(--dnd5e-color-light-gray);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .bottom {
  display: flex;
  font-size: var(--font-size-11);
  color: var(--color-text-dark-5);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .weight,
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .price {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .weight span,
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .price span {
  height: 14px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .weight {
  justify-content: end;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .weight i {
  font-size: var(--font-size-9);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .charges {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .header .school {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  --icon-fill: var(--dnd5e-color-gold);
  --icon-size: 32px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .description {
  text-align: left;
  font-size: var(--font-size-12);
  line-height: normal;
  max-height: 450px;
  overflow: hidden;
  padding-right: 0.5rem;
  margin-right: -0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--dnd5e-color-gold) transparent;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .description table {
  display: none;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .description.overflowing {
  mask-image: linear-gradient(to bottom, black 90%, transparent);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .description:empty {
  margin-bottom: 0.5rem;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip).locked-tooltip .description {
  overflow-y: scroll;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip).locked-tooltip .description.overflowing {
  mask-image: unset;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip:is(.item-tooltip, .effect-tooltip) .pill {
  font-size: var(--font-size-10);
  padding: 0.1875rem 0.375rem;
  line-height: 1;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip {
  max-width: unset;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .header {
  margin-block: 6px 10px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 20px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .member {
  display: grid;
  grid-template-columns: max-content 140px 20px max-content;
  align-items: center;
  gap: 4px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party img {
  width: 38px;
  height: 38px;
  border: 2px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 4px var(--dnd5e-shadow-45);
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
  background: var(--dnd5e-color-light-gray);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .name {
  padding-inline-start: 4px;
  font-size: var(--font-size-14);
  font-family: var(--dnd5e-font-roboto-slab);
  font-weight: bold;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .passive {
  font-weight: bold;
  text-align: end;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .status {
  font-family: var(--font-awesome);
  font-weight: 900;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .status.success::after {
  content: "\f058";
  color: var(--dnd5e-color-success);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.passive-tooltip .party .status.failure::after {
  content: "\f057";
  color: var(--dnd5e-color-failure);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.rule-tooltip {
  max-width: 450px;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip.rule-tooltip .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 6px 10px;
}

:is(#tooltip, .locked-tooltip).bg3-tooltip .control-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 6px 0 0;
  margin-bottom: -4px;
  font-size: var(--font-size-10);
  color: var(--color-text-dark-5);
}
:is(#tooltip, .locked-tooltip).bg3-tooltip .control-hint img {
  height: 1em;
  aspect-ratio: 1;
  border: none;
  transform: scale(1.35);
  opacity: 0.6;
}

:is(#tooltip, .locked-tooltip).bg3-tooltip .name-stacked {
  display: flex;
  flex-direction: column;
}

:is(#tooltip, .locked-tooltip).bg3-tooltip .name-stacked .title {
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: var(--font-size-14);
  font-weight: bold;
}
:is(#tooltip, .locked-tooltip).bg3-tooltip .name-stacked .subtitle {
  font-family: var(--dnd5e-font-roboto);
  font-size: var(--font-size-10);
  color: var(--color-text-dark-5);
}