<section class="content pf2e-tooltip-content">
    <section class="header">
        <div class="top">
            <img src="{{ img }}" alt="{{ name }}">
            <div class="name name-stacked">
                <span class="title">{{ name }}</span>
                <span class="subtitle">Macro</span>
            </div>
        </div>
    </section>
</section>

